body{
    background-color: black;
    }
    #container{
    text-align: "center";
    margin-top: 0px;
    width:1882px;
    height:750px;
    border:1px solid white;
    background-image: url("../images/bg3.jpg");
    background-repeat: no-repeat;
    background-size: 1880px 800px;
    
   }
   .div1{
    float:left;
    text-align:"center";
    width:300px; 
    height:200px; 
    border:1px solid white;
    padding:100px;
    margin-left: 100px;
    margin-top:200px;
   }
   .div2{
    float: right;
    border:1px solid white;
    padding:10px;
   }
   .div3{
    border:1px solid white;
    float:left;
    padding:200px;
    margin-left: 100px;
    margin-top:100px; 
   }
   .box1{
    width:200px;
    height:100px;
    font-family: "궁서체";
    border:3px solid;
    color: white;
   }
   .box2{
    border-collapse:collapse;
    font-family: "궁서체";
    width:400px;
    height:500px;
    color: white;
   }
   .inputId{
    width:400px;
    height:59px;
    font-family: "궁서체";
       text-align:center;
   }
   .inputRk{
    width:80px;
    font-family: "궁서체";
    text-align:center;
   }
   .inputSc{
    width:100px;
    font-family: "궁서체";
    text-align:center;
   }
   tr, th, td{
    border:1px solid white;
   }